.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  font-family: "Quicksand";
}

#signature {
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  bottom: 0px;
  left: 15px;
}
